name: Run ESLint
on: [pull_request, push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Install modules
      run: npm i -g eslint
    - name: Run ESLint
      run: eslint .
